body {
    box-sizing: border-box;
    background-color: rgb(3, 3, 133);
}

.title {
    justify-self: center;
    font-size: 3em;
    color: rgb(172, 172, 172);
}

.input, #name, #submitBtn {
    color: white;
    text-align: center;
    font-size: 2rem;
}

#name {
    color: black;
}

#form {
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    justify-content: center;
    gap: 1rem;
    justify-self: center;

}

#placementBoardContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.cell, .cpuCell {
    min-height: 20px;
    min-width: 50px;
    background-color: rgb(172, 172, 172);
    display: flex;
}

#gameDisplay {
    display: none;
    border: 1px solid red;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#playerBoardContainer {
    width: 37.25%;
    border: 3px solid green;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#cpuBoardContainer {
    width: 37.25%;
    border: 3px solid blue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
    grid-column: 2 / 3;
}

.cell--hit::after {
    content: '✕';
    color: red;
}

.cell--miss::after {
    content: '○';
    color: white;
}

.cell--carrier {
    background-color: rgb(255, 0, 0, .7);
}

.cell--battleship {
    background-color: rgb(255, 165, 0, .7);
}

.cell--cruiser {
    background-color: rgb(255, 255, 0, .7);
}

.cell--sub {
    background-color: rgb(0, 128, 0, .7);
}

.cell--destroyer {
    background-color: rgb(0, 0, 255, .7);
}