body {
    box-sizing: border-box;
    background-color: rgb(3, 3, 133);
    width: 100%;
}

.title {
    justify-self: center;
    font-size: 3em;
    color: rgb(172, 172, 172);
}

.input, #name, #submitBtn {
    color: white;
    text-align: center;
    font-size: 2rem;
}

#name {
    color: black;
}

#form {
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    justify-content: center;
    gap: 1rem;
    justify-self: center;

}

.cell, .cpuCell {
    min-height: 20px;
    min-width: 50px;
    background-color: red;
    display: flex;
}

#gameDisplay {
    display: none;
    width: 100%;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#playerBoardContainer {
    width: 37.25%;
    border: 3px solid green;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#cpuBoardContainer {
    width: 37.25%;
    border: 3px solid blue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
    grid-column: 2 / 3;
}